<div id="page-content-wrapper">
    <div class="container-fluid">
    	<div class="row">	
			<div class="col-md-8">
			    <h1 style="margin-bottom: 0px">Add a new app</h1>
			</div>                
		</div>
		<hr>

		<form class="form-horizontal" ng-submit="appSubmit()">
		  <div class="form-group">
		    <label for="app-name" class="col-sm-2 control-label">Name</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="app-name" ng-model="appName">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="base-url" class="col-sm-2 control-label">Base URL</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="base-url" ng-model="baseUrl">
		    </div>
		    <div class="col-sm-4">
		    	rdrt.me/{{ baseUrl | slugify }}
		    </div>
		  </div>
		  <div class="form-group">
		  	<label for="ios-app-url" class="col-sm-2 control-label">iOS App Url</label>
		  	<div class="col-sm-6">
		  		<input type="text" class="form-control" id="ios-app-url" ng-model="iosAppUrl">
		  	</div>
		  	<div class="col-sm-4">	
		  		<input type="checkbox" id="toggle" ng-model="preferences.ios_url">
		  		<label for="toggle"></label>
		  	</div>
		  </div>
		  <div class="form-group">
		  	<label for="android-app-url" class="col-sm-2 control-label">Android App Url</label>
		  	<div class="col-sm-6">
		  		<input type="text" class="form-control" id="android-app-url" ng-model="androidAppUrl">
		  	</div>
		  	<div class="col-sm-4">
		  		<input type="checkbox" id="toggle" ng-model="preferences.android_url">
		  		<label for="toggle"></label>
		  	</div>
		  </div>
		  <div class="form-group">
		  	<label for="windows-app-url" class="col-sm-2 control-label">Windows App Url</label>
		  	<div class="col-sm-6">
		  		<input type="text" class="form-control" id="android-app-url" ng-model="windowsAppUrl">
		  	</div>
		  	<div class="col-sm-4">		  		
		  		<input id="toggle" type="checkbox">
		  		<label for="toggle"></label>
		  	</div>
		  </div>		
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <input type="submit" class="btn btn-primary" value="Submit"/>
		    </div>
		  </div>
		</form> 
    </div>
</div>